@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: rgb(16, 16, 16);
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
}

#loader h3 {
  font-size: 2vw;
  font-weight: 2vw;
}
